body {
  font-size: 14px;
  font-family: "Montserrat";
  background-color: #fcfbfa;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.custom--button {
  padding: 5px 30px;
  min-height: 45px;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 600;
}

.mobile {
  padding: 40px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;

  line-height: 26px;
  font-size: 20px;
  text-align: center;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.start--button {
  position: relative;
  z-index: 10;
  animation: animation-start-button 1.2s linear infinite alternate;
  background-color: #fdddff;
  transition: background-color 0.3s ease 0s;
  color: #000000;
}

.start--button:hover {
  background-color: #fcd2ff;
}

@keyframes animation-start-button {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.start-hearts {
  width: 280px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.heart--item {
  position: absolute;
  opacity: 0;
  animation-iteration-count: infinite;

  font-size: 20px;
}

.heart--item-01 {
  left: 0px;
  bottom: 0;
  animation-duration: 3s;
  animation-name: animation-heart-01;
}

@keyframes animation-heart-01 {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: translateY(-100px);
  }
}

.heart--item-02 {
  left: 60px;
  bottom: -40px;
  animation-duration: 4s;
  animation-name: animation-heart-02;
  font-size: 26px;
}

@keyframes animation-heart-02 {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: translateY(-200px);
  }
}

.heart--item-03 {
  left: 130px;
  bottom: -20px;
  animation-duration: 5s;
  animation-name: animation-heart-03;
  font-size: 22px;
}

@keyframes animation-heart-03 {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: translateY(-250px);
  }
}

.heart--item-04 {
  left: 190px;
  bottom: 145px;
  animation-duration: 2s;
  animation-name: animation-heart-04;
  font-size: 26px;
}

@keyframes animation-heart-04 {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: translateY(-50px);
  }
}

.heart--item-05 {
  left: 250px;
  bottom: 20px;
  animation-duration: 2s;
  animation-name: animation-heart-05;
}

@keyframes animation-heart-05 {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: translateY(-40px);
  }
}

.hello {
  padding: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

/* https://i.gifer.com/NRI0.gif */

.hello:before {
  content: "";
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://i.gifer.com/origin/03/03270abe66b1c66ef8832c57aa6da0c1.gif");
}

.hello--row:after {
  content: "";
  width: 120px;
  height: 200px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(50%, -50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://i.gifer.com/YQDl.gif");
}

.hello--row {
  padding: 25px;
  max-width: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 4;
  border-radius: 16px;
  border: 1px solid #f3f3f3;
  background-color: #ffffff;

  color: #0e0e0e;
  font-size: 14px;
  line-height: 18px;
}

.text-show-button {
  position: relative;
  background-color: transparent;
}

.text-show-button:hover:after {
  opacity: 0;
}

.text-show-button:after {
  content: "";
  margin-top: 1px;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0;
  transition: opacity 0.2s ease 0s;
  background-color: #ff72f1;
}

.hello--gif {
  margin-bottom: -15px;
}

.bold {
  font-weight: 600;
}
