@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border-radius: 0;
}

textarea {
  resize: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.swiper {
  touch-action: pan-y;
}

.swiper-wrapper {
  display: inline-flex;
}

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

:root {
  --black-0: #f4f4f4;
  --black-50: #e8e8e8;
  --black-100: #b6b6b8;
  --black-200: #939395;
  --black-300: #626265;
  --black-400: #252525;
  --black-450: #191a1e;
  --black-500: #141519;
  --black-600: #121317;
  --black-700: #0e0f12;
  --black-800: #0b0c0e;
  --black-900: #08090b;
  --black-1000: #10100f;
  --green-yellow-light: #fcfff3;
  --green-yellow-light_hover: #f5fdd9;
  --green-yellow-light_active: #ebfcb0;
  --green-yellow-normal: #bef401;
  --green-yellow-normal_hover: #abdc01;
  --green-yellow-normal_active: #98c301;
  --green-yellow-dark: #8fb701;
  --green-yellow-dark_hover: #729201;
  --green-yellow-dark_active: #556e00;
  --green-yellow-darker: #647914;
  --green-yellow-darker_hover: #303a09;
  --green-yellow-darker_active: #242c07;
  --yellow-light: #fefcf1;
  --yellow-light_hover: #fdfaea;
  --yellow-light_active: #fbf5d5;
  --yellow-normal: #f2de76;
  --yellow-normal_hover: #dac86a;
  --yellow-normal_active: #c2b25e;
  --yellow-dark: #b6a759;
  --yellow-dark_hover: #918547;
  --yellow-dark_active: #6d6435;
  --yellow-darker: #4c4c40;
  --yellow-darker_hover: #3a3a32;
  --yellow-darker_active: #20201c;
  --pink-light: #fef1f7;
  --pink-light_hover: #fdeaf3;
  --pink-light_active: #fbd5e7;
  --pink-normal: #f276b1;
  --pink-normal_hover: #da6a9f;
  --pink-normal_active: #c25e8e;
  --pink-dark: #b65985;
  --pink-dark_hover: #91476a;
  --pink-dark_active: #6d3550;
  --pink-darker: #55293e;
  --pink-darker_hover: #2d1d24;
  --pink-darker_active: #1f1c20;
  --green-light: #f1fef3;
  --green-light_hover: #eafded;
  --green-light_active: #d5fbdb;
  --green-normal: #76f289;
  --green-normal_hover: #6ada7c;
  --green-normal_active: #5ec26e;
  --green-dark: #59b668;
  --green-dark_hover: #479153;
  --green-dark_active: #356d3e;
  --green-darker: #295530;
  --green-darker_hover: #323b37;
  --green-darker_active: #1c201e;
  --violet-light: #f7e6ff;
  --violet-light_hover: #f3daff;
  --violet-light_active: #e6b2ff;
  --violet-normal: #af06ff;
  --violet-normal_hover: #9e05e6;
  --violet-normal_active: #8c05cc;
  --violet-dark: #8305bf;
  --violet-dark_hover: #690499;
  --violet-dark_active: #4f0373;
  --violet-darker: #3d0259;
  --violet-darker_hover: #38323b;
  --violet-darker_active: #1e1c20;
  --orange-light: #fef5f1;
  --orange-light_hover: #fdf0ea;
  --orange-light_active: #fbe0d5;
  --orange-normal: #f29b76;
  --orange-normal_hover: #da8c6a;
  --orange-normal_active: #c27c5e;
  --orange-dark: #b67459;
  --orange-dark_hover: #915d47;
  --orange-dark_active: #6d4635;
  --orange-darker: #553629;
  --orange-darker_hover: #3b3732;
  --orange-darker_active: #201e1c;
  --blur-wrapper: 4px;
  --background-wrapper: rgba(3, 3, 3, 0.3);
  --background-image: url("../img/bg.png");
  --background-color: #1a1a1a;
}

body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: var(--background-image);
  background-color: var(--background-color);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: var(--color-black);
  font-size: 16px;
}
body._lock-scroll {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  padding-bottom: 80px;
  flex: 1 1 auto;
  overflow: hidden;
}
@media (max-width: 1279.2px) {
  .page {
    padding-bottom: 60px;
  }
}
@media (max-width: 767.2px) {
  .page {
    padding-bottom: 50px;
  }
}
@media (max-width: 374.2px) {
  .page {
    padding-bottom: 20px;
  }
}

.burger-icon {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--black-400) !important;
}
.burger-icon span {
  width: 18px;
  height: 2px;
  position: relative;
  background-color: var(--black-200);
}
.burger-icon span:before, .burger-icon span:after {
  content: "";
  width: 18px;
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--black-200);
}
.burger-icon span:before {
  top: -6px;
}
.burger-icon span:after {
  top: 6px;
}
.burger-icon._active span {
  background-color: transparent;
}
.burger-icon._active span:before {
  top: 0;
  transform: rotate(45deg);
}
.burger-icon._active span:after {
  top: 0;
  transform: rotate(-45deg);
}
@media (any-hover: hover) {
  .burger-icon {
    transition: background-color 0.2s linear 0s;
  }
  .burger-icon:hover {
    background-color: var(--black-400) !important;
  }
}

.feedback-link {
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 48px;
  border: 1px solid var(--black-500);
  background-color: var(--black-500);
}
.feedback-link svg path {
  fill: var(--green-yellow-normal);
}
.feedback-link span {
  padding-top: 40px;
  margin-top: auto;
  display: block;
  transition: color 0.1s linear 0s;
  text-transform: uppercase;
  color: var(--green-yellow-light);
}
@media (max-width: 1599.2px) {
  .feedback-link {
    padding: 30px;
  }
}
@media (max-width: 1279.2px) {
  .feedback-link {
    padding: 25px;
    align-items: center;
    border-radius: 16px;
  }
  .feedback-link svg {
    width: 32px;
    height: 32px;
  }
  .feedback-link span {
    padding-top: 12px;
  }
}
@media (max-width: 767.2px) {
  .feedback-link {
    padding: 16px;
  }
}
@media (any-hover: hover) {
  .feedback-link {
    transition: border-color 0.1s linear 0s, background-color 0.1s linear 0s;
  }
  .feedback-link:hover {
    border-color: var(--green-yellow-normal);
    background-color: var(--black-1000);
  }
  .feedback-link:hover span {
    color: var(--green-yellow-normal);
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 56px;
  height: 48px;
}
.swiper-button-prev svg:nth-child(2),
.swiper-button-next svg:nth-child(2) {
  display: none;
}
.swiper-button-prev svg path,
.swiper-button-next svg path {
  transition: fill 0.1s linear 0s;
  fill: var(--green-yellow-normal);
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  pointer-events: none;
}
.swiper-button-prev.swiper-button-disabled svg path,
.swiper-button-next.swiper-button-disabled svg path {
  fill: var(--green-yellow-darker);
}
@media (max-width: 1279.2px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 56px;
    height: 56px;
  }
  .swiper-button-prev svg,
  .swiper-button-next svg {
    width: 39px;
    height: 32px;
  }
}
@media (max-width: 767.2px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
  }
  .swiper-button-prev svg,
  .swiper-button-next svg {
    width: 24px;
    height: 20px;
    stroke-width: 5px;
  }
  .swiper-button-prev svg:nth-child(1),
  .swiper-button-next svg:nth-child(1) {
    display: none;
  }
  .swiper-button-prev svg:nth-child(2),
  .swiper-button-next svg:nth-child(2) {
    display: flex;
  }
}
@media (any-hover: hover) {
  .swiper-button-prev:hover svg path,
  .swiper-button-next:hover svg path {
    fill: var(--green-yellow-normal_hover);
  }
  .swiper-button-prev:active svg path,
  .swiper-button-next:active svg path {
    fill: var(--green-yellow-normal_active);
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 10px;
  display: block;
  border-radius: 8px;
  transition: background-color 0.1s linear 0s, width 0.1s linear 0s;
  background-color: var(--green-yellow-darker);
}
.swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 40px;
  background-color: var(--green-yellow-normal);
}
@media (any-hover: hover) {
  .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: var(--green-yellow-normal_hover);
  }
}

@media (min-width: 1279.2px) {
  .header-menu {
    display: block;
  }
  .header-menu ul {
    column-gap: 40px;
    row-gap: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .header-menu ul li a {
    padding: 5px 0;
    display: inline-block;
    transition: color 0.1s linear 0s;
    color: var(--black-200);
  }
}
@media (max-width: 1599.2px) and (min-width: 1279.2px) {
  .header-menu ul {
    column-gap: 30px;
  }
}
@media (max-width: 1279.2px) {
  .header-menu {
    padding: 0 12px 28px;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    z-index: 20;
    overflow: auto;
    border-radius: 0px 0px 40px 40px;
    background-color: var(--black-600);
  }
  .header-menu ul {
    flex: 1 1 auto;
  }
  .header-menu ul li {
    width: 100%;
  }
  .header-menu ul li a {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Unbounded", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.8px;
    color: var(--black-200);
  }
  .header-menu ul li a:not(:last-child) {
    margin-right: 10px;
  }
  .header-menu ul li a:after {
    content: "🡲";
  }
  .header-menu ul:not(:last-child) {
    margin-bottom: 28px;
  }
  .header-menu._active {
    display: flex;
  }
}
@media (max-width: 767.2px) {
  .header-menu {
    padding: 0 8px 24px;
  }
  .header-menu ul:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (any-hover: hover) and (min-width: 1279.2px) {
  .header-menu ul li a:hover {
    color: var(--black-50);
  }
}
@media (any-hover: hover) and (max-width: 1279.2px) {
  .header-menu ul li a {
    transition: color 0.1s linear 0s;
  }
  .header-menu ul li a:hover {
    color: var(--black-50);
  }
}

.header-wrapper {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  backdrop-filter: blur(var(--blur-wrapper));
  transition: opacity 0.3s ease 0s;
  background-color: var(--background-wrapper);
}
.header-wrapper._active {
  display: block;
}

.banner-list-item a {
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.banner-list-item a svg path {
  transition: fill 0.1s linear 0s;
  fill: var(--green-yellow-darker);
}
.banner-list-item a span {
  color: var(--black-200);
}
@media (any-hover: hover) {
  .banner-list-item a:hover svg path {
    fill: var(--green-yellow-normal_active);
  }
  .banner-list-item a:hover span {
    color: var(--black-50);
  }
}

.footer-items {
  column-gap: 12px;
  row-gap: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-items ul {
  row-gap: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer-items ul li a {
  padding: 8px 0;
  column-gap: 8px;
  display: inline-flex;
  align-items: center;
  transition: color 0.1s linear 0s;
  color: var(--black-200);
}
.footer-items ul li a svg path {
  transition: fill 0.1s linear 0s;
  fill: var(--black-200);
}
.footer-items:not(:last-child) {
  margin-bottom: 40px;
}
@media (min-width: 767.2px) {
  .footer-items ul li:not(:last-child) {
    display: flex;
    align-items: center;
  }
  .footer-items ul li:not(:last-child):after {
    content: "/";
    margin: 0 24px;
    color: var(--black-0);
  }
}
@media (max-width: 1279.2px) and (min-width: 767.2px) {
  .footer-items {
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media (max-width: 767.2px) {
  .footer-items {
    flex-direction: row;
  }
  .footer-items ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-items ul li:after {
    margin: 0 16px;
  }
  .footer-items:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media (max-width: 374.2px) {
  .footer-items {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (any-hover: hover) {
  .footer-items ul li a:hover {
    color: var(--black-50);
  }
  .footer-items ul li a:hover svg path {
    fill: var(--black-50);
  }
}

.footer-menu {
  column-gap: 120px;
  row-gap: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  color: var(--black-300);
}
.footer-menu ul li a {
  padding: 8px 0;
  display: inline-block;
  transition: color 0.1s linear 0s;
}
.footer-menu:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 767.2px) {
  .footer-menu:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media (any-hover: hover) {
  .footer-menu ul li a:hover {
    color: var(--black-50);
  }
}

.popup {
  padding: 20px 0px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(var(--blur-wrapper));
  transition: opacity 0.3s ease 0s;
  background-color: var(--background-wrapper);
}
.popup._active {
  opacity: 1;
  pointer-events: auto;
}
.popup._active .popup-body {
  transform: scale(1);
}
.popup .popup-body {
  padding: 40px;
  margin: auto;
  max-width: 660px;
  width: 100%;
  border-radius: 48px;
  transform: scale(0.9);
  transition: transform 0.3s ease 0s;
  background-color: var(--black-600);
}
.popup .popup-body .popup-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.popup .popup-body .popup-top:not(:last-child) {
  margin-bottom: 20px;
}
.popup .popup-body .popup-top span {
  margin-right: 10px;
  overflow-wrap: anywhere;
}
.popup .popup-body .popup-content {
  overflow: hidden;
  color: var(--black-200);
}
@media (max-width: 1599.2px) {
  .popup .popup-body {
    padding: 30px;
    max-width: 620px;
  }
}
@media (max-width: 1279.2px) {
  .popup .popup-body {
    padding: 24px;
    max-width: 600px;
  }
  .popup .popup-body .popup-top:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media (max-width: 767.2px) {
  .popup .popup-body {
    padding: 24px 16px;
    max-width: 375px;
  }
  .popup .popup-body .popup-top:not(:last-child) {
    margin-bottom: 12px;
  }
}

.reviews-slider .swiper-wrapper:not(:last-child) {
  margin-bottom: 40px;
}
.reviews-slider .swiper-wrapper .swiper-slide {
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-radius: 48px;
  background-color: var(--black-500);
}
.reviews-slider .swiper-wrapper .swiper-slide .reviews-text {
  flex: 1 1 auto;
  color: var(--green-yellow-light);
}
.reviews-slider .swiper-wrapper .swiper-slide .reviews-text:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 1599.2px) {
  .reviews-slider .swiper-wrapper .swiper-slide {
    padding: 30px;
  }
}
@media (max-width: 1279.2px) {
  .reviews-slider .swiper-wrapper .swiper-slide {
    padding: 24px;
    border-radius: 32px;
  }
}
@media (max-width: 767.2px) {
  .reviews-slider .swiper-wrapper .swiper-slide {
    padding: 16px;
    border-radius: 16px;
  }
}
@media (min-width: 1599.2px) {
  .reviews-slider {
    overflow: hidden;
  }
  .reviews-slider:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1279.2px) {
  .reviews-slider:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (min-width: 767.2px) {
  .reviews-slider:not(:last-child) {
    margin-bottom: 16px;
  }
}

.choose-currency-button {
  padding: 0 16px;
  min-height: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 24px;
  transition: background-color 0.1s linear 0s, color 0.1s linear 0s;
  background-color: var(--black-400);
  white-space: nowrap;
  font-family: "Unbounded", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.32px;
  color: var(--black-200);
}
.choose-currency-button._active {
  background-color: var(--green-yellow-normal);
  color: var(--black-500);
}
@media (max-width: 1279.2px) {
  .choose-currency-button {
    font-size: 16px;
    line-height: 19.84px;
  }
}
@media (max-width: 767.2px) {
  .choose-currency-button {
    font-size: 14px;
    line-height: 17.36px;
  }
}

[data-tab-content] {
  display: none;
}
[data-tab-content]._active {
  display: block;
}