@media (min-width: 992px) {
  .form--section-item-el:not(:last-child) {
    margin-bottom: 70px;
  }
}

@media (max-width: 1450px) {
  .cont-top .wrap {
    padding: 0px 26px;
  }

  .cont-top p {
    font-size: 30px;
    /* padding: 0px 26px; */
    line-height: 45px;
  }

  .cont-top1 {
    margin-bottom: 45px;
  }

  .cont-top2 {
    margin-bottom: 65px;
  }
}

@media (max-width: 1200px) {
  .nav-faq-block {
    padding-bottom: 20px;
    position: relative;
    z-index: 10;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
  }

  .nav-faq-block li a {
    white-space: nowrap;
  }

  .faq--top {
    padding: 0px;
  }
}

@media (max-width: 1140px) {
  .footer .base-container {
    padding: 0px 30px;
  }

  .footer .logo-foot {
    display: flex;
    align-items: center;
  }

  .footer .logo-foot img {
    width: 240px;
  }

  .footer .logo-foot span {
    padding-top: 0;
    margin-left: 10px;
    text-align: left;
  }

  .footer .tel-info {
    align-items: center;
  }

  .foot-base {
    padding-top: 56px;
    padding-bottom: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .foot-left {
    margin-bottom: 27px;
  }

  .foot-right {
    padding-left: 0px;
  }
}

@media (max-width: 992px) {
  .top-block {
    /* background-position: 0 0; */
    background-repeat: no-repeat;
    background-size: auto, auto;
    background-position: left 0, center 0;
  }

  .top-block h1 {
    font-size: 70px;
    margin-bottom: 60px;
  }

  .element.style {
    background-repeat: no-repeat;
    background-size: auto, auto;
    background-position: right 0, center 0;
  }

  .logo img {
    width: 240px;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo span {
    margin-top: 9px;
    margin-left: 0;
    max-width: none;
    text-align: left;
    font-size: 18px;
  }

  .hed-top.base-container {
    padding: 26px;
  }

  .wrap-menu {
    padding-top: 35px;
  }

  .nav-faq-block {
    padding-top: 30px;
  }

  .faq__title-mobile {
    padding: 0px 25px;
    display: block;
    margin-bottom: 0;
  }

  .faq__title-pc {
    display: none;
  }

  .about--info--block.base-container {
    padding: 30px 0px 10px 50px;
  }

  .about--info--block p {
    font-size: 20px;
    font-weight: 400;
  }

  .about--info--block .wrap {
    flex-direction: column;
  }

  .about--info--block .zag-block {
    margin-bottom: 15px;
  }

  .article--item,
  .article--item.article--item-second {
    flex-direction: column;
  }

  .article--item-content {
    padding: 50px 10px 50px 50px;
    width: auto;
  }

  .article--item-image {
    min-height: 390px;
    flex: none;
  }

  .article--item-content .title-post {
    max-width: none;
  }

  .article--item-third .article--item-icon {
    width: 58px;
    height: 58px;
  }

  .article--item-third .title-post {
    padding-top: 18px;
    font-size: 40px;
    margin-right: 0;
    line-height: 50px;
    margin-bottom: 18px;
  }

  .article--item-third .btn {
    width: auto;
    padding: 10px 40px 13px;
    font-size: 20px;
  }

  .form--section-item-pc {
    display: none;
  }

  .form--section-item-mobile {
    display: block;
  }

  .form--section {
    padding: 55px 25px 90px;
    gap: 25px;
    grid-template-columns: repeat(1, 1fr);
  }

  .form--section-item:not(:last-child) {
    margin-bottom: 25px;
  }

  .form--section-item .file-input-wrp {
    margin: 0;
    padding-bottom: 35px;
  }

  .form--section-item-big textarea {
    min-height: 220px;
  }
}

@media (max-width: 768px) {
  .footer .base-container {
    padding: 0px 25px;
  }

  .foot-base .foot-right-bottom {
    margin-bottom: 0;
  }

  .foot-right-top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer__menu_02 li a,
  .foot-right-bottom .mapa-site {
    font-weight: 400;
    font-size: 14px;
  }

  .foot-right-top .footer__menu_02 {
    margin-top: 50px;
    padding-left: 0;
  }

  .foot-right-bottom .mapa-site {
    width: 100%;
    margin-bottom: 40px;
  }

  .foot-right-bottom {
    margin-bottom: 40px;
  }

  .foot-right-bottom {
    display: flex;
    flex-direction: column;
  }

  .foot-right-bottom .social-foot {
    margin-bottom: 34px;
  }

  .foot-left .tel-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .foot-left .tel-info span {
    margin-top: 29px;
    margin-left: 0;
  }

  .foot-left {
    margin-bottom: 44px;
  }

  .foot-left .addres {
    display: none;
  }

  .logo-foot {
    margin-bottom: 33px;
  }

  .footer .logo-foot img {
    width: 182px;
  }

  .footer .logo-foot span {
    font-size: 20px;
  }

  .logo img {
    width: 200px;
  }

  .logo span {
    font-size: 15px;
  }

  .header__icon-mobile {
    display: none;
  }

  .header--body {
    align-items: flex-start;
  }

  .social li a {
    width: 50px;
    height: 50px;
  }

  .social li a svg {
    width: 28px;
    height: 28px;
  }

  /* ------- */

  .wrap-menu {
    display: none;
  }

  .base-container {
    padding: 0px 25px;
  }

  .header--menu {
    display: flex;
  }

  .burger--menu--icon {
    display: flex;
  }

  .top-block {
    min-height: 590px;
  }

  .top-block > .wrap {
    padding-top: 50px;
    padding-bottom: 38px;
  }

  .top-block h1 {
    font-size: 50px;
    margin-bottom: 0px;
  }

  .img-bg-logo {
    width: 120px;
    height: 120px;
    bottom: 60px;
  }

  .img-bg-logo span {
    max-width: 120px;
    font-size: 16px;
  }

  .cont-top {
    padding-top: 50px;
  }

  .faq--top {
    padding: 0px;
  }

  .page-404.base-container {
    padding: 0px;
    padding-top: 40px;
  }

  .page-404 .cont-404 {
    padding: 0px 25px;
  }

  .contacts--block {
    padding-top: 20px;
    flex-direction: column-reverse;
  }

  .contacts--block .contact-info .col {
    width: 100%;
  }

  .contacts--block .contact-info .col:not(:last-child) {
    margin-bottom: 50px;
    font-weight: 400;
  }

  .contacts--block .contact-info {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  .contacts--block .contact-info a,
  .contacts--block .contact-info div {
    margin-left: 0;
  }

  .contacts--title-mobile {
    display: block;
    font-size: 50px;
    font-weight: 400;
    line-height: 55px;
    margin-bottom: 45px;
  }

  .article-content2 .cont-block {
    width: 100%;
  }

  .article-content2 .cont-block .list-faq li a {
    max-width: 75%;
  }

  .burger--menu--icon {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 130px;
  }

  .logo span {
    font-size: 12px;
  }

  .cont-top p {
    font-size: 25px;
    line-height: 28px;
  }

  .cont-top1 {
    margin-bottom: 25px;
  }

  .cont-top2 {
    margin-bottom: 30px;
  }
}

@media (max-width: 425px) {
  .top-block h1 {
    margin: 0 auto;
    max-width: 260px;
  }
}

@media (any-hover: hover) {
  .social li a:hover {
    background: #d1f42a;
  }

  .social li a:hover svg path {
    stroke: #013c44;
  }

  .menu-top > ul > li > a:hover {
    text-decoration: underline;
  }

  .img-bg-logo:hover {
    background: #d1f42a;
  }

  .list-item:hover .block-list:before {
    background-color: #c0d80e;
  }

  .list-item:hover .more {
    text-decoration-color: #013c44;
  }

  .list-item:hover .block-list__icon-h path {
    stroke: #013c44;
  }

  .list-item:hover .block-list .title-post {
    color: #013c44;
  }

  .list-item:hover .block-list .more {
    color: #013c44;
  }

  .list-items:hover:before {
    background-color: #c0d80e;
  }

  .list-item:hover .block-list .more {
    border-color: #013c44;
  }

  .more:hover {
    text-decoration-line: none;
  }

  .btn-submit:hover {
    background: #d1f42a;
  }

  .btn-submit:hover {
    background: #d1f42a;
  }

  .foot-right a:hover {
    text-decoration: underline;
  }

  .social-foot li a:hover {
    background: #01363d;
  }

  .social-foot li a:hover svg path {
    stroke: #d1f42a;
    fill: #d1f42a;
  }

  .social-foot li.s1 a:hover svg path {
    stroke: #d1f42a;
    fill: none;
  }

  .list-faq > li > a:hover {
    color: #d1f42a;
  }

  .list-faq > li > a:hover:before {
    color: #d1f42a;
    background: url("img/gl2.svg") no-repeat;
  }

  .cont-404 a:hover {
    text-decoration: none;
  }

  .mail-k:hover {
    text-decoration: none;
  }

  .btn-file:hover {
    color: #d1f42a;
  }

  .btn-file:hover:before {
    background: url("img/file-bg2.svg") no-repeat;
  }

  a:hover {
    outline: 0;
  }

  .article--item:hover .article--item-content {
    background-color: #d1f42a;
  }

  .article--item-first:hover .article--item-image:before,
  .article--item-second:hover .article--item-image:before {
    background-color: #d1f42a;
  }

  .article--item:hover .article--item-icon path {
    stroke: #01363d;
  }

  .article--item:hover .title-post {
    color: #01363d;
  }

  .article--item:hover .more {
    border-color: #01363d;

    color: #01363d;
  }

  .article--item .more:hover {
    border-color: transparent;
  }

  .burger--menu--icon:hover {
    background-color: #d1f42a;
  }

  .burger--menu--icon:hover span {
    background-color: #01363d;
  }

  .burger--menu--icon:hover span:before {
    background-color: #01363d;
  }

  .burger--menu--icon:hover span:after {
    background-color: #01363d;
  }
}
